*{
margin: 0;
padding:0;


}
.header{
    background-color: rgb(36, 33, 33);
    height: 4rem;
    margin: 1px;

}
.box{
   display: flex;
   justify-content: space-around;
   padding: 1rem;
  
   
}
.searchfield{
    background-color: rgba(172, 172, 184, 0.281);
    color: gray;
    border: none;
    
}

.searchtext{
    background-color: yellow;
}
.para{
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: orangered;
} 
.secondpara{
    display: flex;
    justify-content: center;
    

}
h6{
    display: flex;
    justify-content: center;
     color: grey;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.card{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border:none;
}
.card h3{

    display: flex;
    justify-content: center;
     color: gray;
}
.card h6{
    color: rgb(128, 128, 128);
}
.font{
      
    display: flex;
    justify-content: center;
    
}
#btn{
    background-color: white;
    color: rgb(46, 34, 219);
    height: 50%;
    width: 50%;
    border: none;

}
.secondsection{

    background-color: rgb(22, 17, 17);
   
   
}
.secondsection h1{
   display: flex;
   justify-content: center;
    color: orangered;
   padding: 2rem;

}
.fourthsection{
      background-color: aliceblue;
      display: flex;
      justify-content: space-around;
      margin: 5rem;
     
     
}
.fourthsection Button{
      border: none;
      color: black   ;
      border-radius: 1rem;
}
.line hr{
    display: block;
    margin: 2px  auto;
    color: rgb(241, 217, 217);
     width: 20rem;
     height: 3px;
    }